PORT=5000
MONGO_URI=mongodb+srv://Saim123456A:<db_password>@cluster0.vivnlqw.mongodb.net/?appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@12345
CLIENT_URL=http://localhost:5173


# Cloud name	nle01rz0
# API key	423374151666277
# API secret	PoCQeFGNUZ0Ggq4Ba5wdtg6nlvU

CLOUDINARY_CLOUD_NAME=nle01rz0
CLOUDINARY_API_KEY=423374151666277
CLOUDINARY_API_SECRET=PoCQeFGNUZ0Ggq4Ba5wdtg6nlvU